 @model Post
<div class="container-fluid">
	<h1>Create</h1>
	<form method="post" enctype="multipart/form-data">
		<div class="mb-3">
			<label for="" class="form-label">Context</label>
			<input asp-for="Context" class="form-control" placeholder="Context">
			<span asp-validation-for="Context" style="color:red"></span>
		</div>
		<div class="mb-3">
			<label for="" class="form-label">Image</label>
			<input asp-for="Image" class="form-control" placeholder="FormFile">
			<span asp-validation-for="Image" style="color:red"></span>
		</div>

		<button type="submit" class="btn btn-primary">Create</button>
	</form>
</div> 